.boxes {
  margin: 30px 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxes h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.boxes h1 span {
  color: #3f53d8;
  margin-left: 10px;
}
.boxes-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
.boxes-div .box {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 30px 30px 17px 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: space-around;
}
.box h2 {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  max-width: 400px;
}
.box .box-icon {
  background: #54a8c7;
  width: 4rem;
  height: 4rem;
  border-radius: 50rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}
@media (max-width: 760px) {
  .boxes h1 {
    font-size: 2rem;
    text-align: center;
  }
  .boxes h2{
    font-size: 23px;
  }
  .boxes-div {
    grid-template-columns: 1fr;
  }
}
