.free {
  background-image: url(/public//img/pattern-10.png);
  background-position: center center;
  background-size: cover;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background: #3f53d8;
  margin-top: 70px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.free h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.free p {
  color: white;
  max-width: 700px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.free .free-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
  color: white;
}
.free-ul li span {
  margin-right: 10px;
}
.input-free {
  width: 60%;
  margin-bottom: 15px;
  position: relative;
}
.input-free input {
  outline: none;
  border: none;
  width: 100%;
  margin: auto;
  border-radius: 40px;
  height: 62px !important;
  padding: 40px 30px;
  direction: ltr;
  font-size: 22px;
}
.button-free {
  padding: 20px;
  border-radius: 30px;
  background: #45c9c1;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 130px;
  min-width: 130px;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
@media (max-width: 760px) {
  .free {
    width: 100%;
    border-radius: 0;
    text-align: center;
  }
  .free h1 {
    font-size: 2rem;
  }
  .input-free {
    width: 100%;
  }
  .free .free-ul {
    font-size: 18px;
  }
  .button-free {
    padding: 20px;
    font-size: 16px;
    width: 100px;
    min-width: 100px;
  }
  .input-free input {
    width: 100%;
    margin: auto;
    height: 30px;
    padding: 40px 20px;
    direction: ltr;
    font-size: 20px;
  }
}
