.free {
  background-image: url(/public//img/pattern-10.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  background: #3f53d8;
  margin-top: 70px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.free h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.free p {
  color: white;
  max-width: 700px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.free .free-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: white;
}
.free-ul li span{
    margin-right: 10px;
}