.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.logo{
    cursor: pointer;
}
.list{
    width: 100%;
}
.list ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul li{
    margin: 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}
.list ul li i{
    margin: 0 5px;
}
.button-shop{
    background: rgb(59, 59, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
}
.button-shop:hover{
    background: blue;
}