.home{
    width: 100%;
    height: 100vh;
    background-color: #3F53D8;
    background-image: url('/public/img/map-ban1.png');
    background-position: center center;
    background-size: cover;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.home .part1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.btns-home{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top:50px;
}
.btn-home{
    background: white;
    font-weight: bold;
    padding: 16px 26px;
    margin: 8px 5px;
    font-size: 40px;
    border-radius: 20px;
}
.btn-home:nth-child(2){
    background: #45C9C1;
}
.logo-home img{
    animation: rotate 2s linear infinite;
    width: 80%;
}
.icon-home img{
    width: 80%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.leading{
    max-width: 500px;
    font-weight:400;
    text-align: center;
    margin-top: 30px;
    color: white;
    line-height: 2rem;
    font-size: 1.3rem;
}
.part3{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.icons-3 img{
    width: 45px;
    border-style: solid;
    border-radius: 50px 50px 50px 50px;
    border-width: 6px 6px 6px 6px;
    border-color: white;
    margin: 5px;
}
.btn2-home{
    margin-top: 50px;
    background: #0A1425;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    padding: 8px 25px 8px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.part4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 200px;
}
.part4 img{
    margin:20px;
    width: 80%;
}
@media (max-width: 760px){
    .home{
        padding-top: 140px !important;
    }
}