.home {
  width: 100%;
  height: 100vh;
  background-color: #3f53d8;
  background-image: url("/nioland-mpv-react/img/map-ban1.png");
  background-position: center center;
  background-size: cover;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.home .part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.btns-home {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
}
.btn-home {
  background: white;
  font-weight: bold;
  padding: 16px 26px;
  margin: 8px 5px;
  font-size: 40px;
  border-radius: 20px;
}
.btn-home:nth-child(2) {
  background: #45c9c1;
}
.logo-home img {
  animation: rotate 2s linear infinite;
  width: 80%;
}
.icon-home img {
  width: 80%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.leading {
  max-width: 500px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  color: white;
  line-height: 2rem;
  font-size: 1.3rem;
}
.part3 {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.icons-3 img {
  width: 45px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  border-width: 6px 6px 6px 6px;
  border-color: white;
  margin: 5px;
}
.btn2-home {
  margin-top: 50px;
  background: #0a1425;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  padding: 8px 25px 8px 25px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.part4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 200px;
}
.part4 img {
  margin: 20px;
  width: 80%;
}
.part4-res {
  display: none;
}
@media (max-width: 760px) {
  .home {
    padding-top: 100px !important;
    height: 100%;
    margin-top: 0 !important;
  }
  .home .icon-home {
    display: none;
  }
  .logo-home {
    display: flex;
  }
  .btn-home {
    font-size: 20px;
  }
  .leading {
    font-size: 18px;
  }
  .icon-3i img {
    display: none;
  }
  .icon-3b img {
    width: 55px;
  }
  .part3 {
    width: 100%;
    justify-content: center;
  }
  .btn2-home {
    padding: 10px 30px !important;
  }
  .part4 {
    display: none;
  }
  .part4-res {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .part4-res img {
    width: 180px;
    margin: 10px;
  }
  .btns-home{
    width: 100%;
  }
}
