.items1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.item1 p{
    color: #64728f;
    font-size: 20px;
    text-align: center;
    max-width: 300px;
}
.item1 h1 span{
    color: #3f53d8;
    margin: 0 10px;
}