.partsss {
  margin: 10px auto;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: 100%;
}
.partsss .part-1-1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  border: 1px solid #e5e7eb;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
}
.part-1-1 img {
  width: 350px;
  height: 100%;
  min-height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.btn-sss {
  color: white;
  background: #45c9c1;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
}
.expl {
  margin-bottom: 20px;
}
.expl p {
  color: #64728f;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}
.expl h1 {
  font-size: 29px;
}
.user-sss {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
}
.user-sss p {
  font-weight: 400;
  font-size: 20px;
  margin: 5px 0;
}
.user-sss span {
  font-size: 15px;
  color: #64728f;
}
.list-ss {
  list-style: disc !important;
  font-size: 15px;
  color: #64728f;
  margin-right: 10px;
}
@media (max-width: 760px) {
  .partsss {
    grid-template-columns: 1fr;
  }
  .partsss .part-1-1{
    width: 100% !important;
  }
  .img-sss{
    width: 90%;
    margin: auto;
  }
  .part-1-1 img{
    width: 100%;
  }
}
