.way {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.par-way p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: #64728f;
  margin-top: 15px;
  max-width: 600px;
}
.par-way h1 {
  font-size: 3rem;
}
.par-way h1 span {
  color: #45c9c1;
}

.way2-p {
  max-width: 700px !important;
}
@media (max-width: 760px) {
  .way {
    flex-direction: column;
  }
  .way img {
    width: 80%;
  }
  .par-way h1 {
    font-size: 2rem;
  }
  .par-way p {
    font-size: 1.3rem;
    width: 100%;
  }
}
